/* Game Screen Styles */
.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.game h1 {
  font-size: 3.5em;
}

.points {
  margin-bottom: 30px;
}

h1 {
  margin: 25px;
}

.tip {
  font-size: 25px;
  margin: 30px;
}

.tip span {
  color: #ecfa00;
}

.word-container {
  padding: 1.5em;
  margin: 1.5em;
  border: 20px solid #ecfa00;
  display: flex;
  width: fit-content;
  
}

.letter, .blank-square {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  background: white;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter-container p {
  font-weight: 400;
  font-size: 20px;
}

.letter-container form {
  margin-top: 15px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.letter-container form input {
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 40px;
  outline: none;
  text-transform: uppercase;
}

.wrong-letters {
  margin-top: 41px;
}