.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* General application styles */
.screen h1 {
  font-size: 3.5em;
}

.screen p {
  font-weight: 600;
}